binding/ios/OctopusAppTest/** linguist-detectable=false
binding/web/** linguist-detectable=false
binding/web/src/octopus.ts linguist-detectable=true
demo/** linguist-detectable=false
lib/** linguist-detectable=false
resources/** linguist-detectable=false
*.py linguist-detectable=true